.login-blue{
    background-color: var(--background-color);
    border-top-right-radius: 25%;
    height: 93vh;
    color: var(--text-color);
}
.chatack{
    font-size: 40px;
    font-weight: bold;
    margin-top: -40px;
}
.button{
    width: 250px;
    height: 50px;
    background-color: var(--background-color-a);
    border: 1px solid var(--text-color);
    border-radius: 32px;
    color: var(--text-color);
    font-size: 20px;
    margin-top: 30px;
    box-shadow: 0 0 1px 1px var(--text-color);
}
.button:hover{
    background-color: var(--background-color);
    
}
.login-white h1{
    margin-top: 100px;
    color: var(--text-color);
    font-weight: bold;
}
.login-white p{
    color: var(--text-color);
    font-weight: bold;
}
.login-white input{
    color:var(--text-color);
    border: none;
    border-bottom: 1px solid var(--text-color);
    margin-top: 60px;
}
.login-white input:focus{
    outline: none;
}
.login-white input[type=email], input[type=password], input[type=number], input[type=text]{
    width: 300px;
}
.email,.password{
    border-bottom: 1px solid var(--text-color);
}
.login-white input[type=submit],input[type=button]{
    width: 200px;
    height: 40px;
    background-color: var(--background-color);
    font-size: 20px;
    font-weight: bold;
    border-radius: 32px;
}
.login-white input[type=submit]:hover{
    background-color: var(--background-color-a);
}
@media screen and (max-width:780px){
    .login-blue{
    background-color: var(--background-color);
    height: 93vh;
    color: var(--text-color);
}
    
}
