body{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #93d7ff!important;
    height: 100vh;
    width: 100vw;
}
.card{
    height: 250px;
    width: 300px;
    background-color:  #33A1E0!important;
    color: #0D1164!important;
    text-align: center;
    box-shadow: 0 0 6px 0.5px #0D1164;
}
.card:hover{
    box-shadow: 0 0 6px 0.5px #33A1E0;
}
.card-header{
    font-size: 30px;
}
h5{
    font-size: 25px;
}
p{
    font-size: 20px;
}
.btn-custom{
    color: #0D1164;
    border-radius: 12px;
    box-shadow: 0 0 4px 1px #0D1164;
}
.btn-custom:hover{
    background-color: #33A1E0!important;
    box-shadow: 0 0 4px 1px #0D1164;
}