body {
  background: #f1f5f9;
  display:flex;
  align-items:center;
  justify-content:center;
  min-height:100vh;
  font-family:Tahoma,Arial;
}
.card {
  width:360px;
  padding:25px;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,0.07);
  text-align:center;
  background:white;
}
.btn-primary{
  background-image:linear-gradient(90deg,#2563eb,#7c3aed);
  border:0;
}