body {
  background: #93d7ff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-shadow:inset 0 0 20px #0d1164;
}

.radar {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 2px solid #0d1164;
  position: relative;
  overflow: hidden;
  box-shadow:inset 0 0 4px #0d1164,0 0 4px #0d1164;
}

.sweep {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(from 0deg, #0d1164 0deg, transparent 60deg);
  animation: spin 2s linear infinite;
  opacity: 0.4;
}
.dot {
  width: 18px;
  height: 18px;
  background: #0d1164;
  border-radius: 50%;
  position: absolute;
  animation: blink 1s infinite alternate;
}
.dot1 {
  top: 30px;
  left: 120px;
  animation-delay: 0.3s;
}
.dot2 {
  top: 70px;
  left: 140px;
  animation-delay: 0.3s;
}
.dot3 {
  top: 150px;
  left: 100px;
  animation-delay: 0.6s;
}
.dot4 {
  top: 230px;
  right: 120px;
}
.dot5 {
  top: 270px;
  right: 40px;
  animation-delay: 0.3s;
}
.dot6 {
  top: 350px;
  right: 100px;
  animation-delay: 0.6s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}