@import url('_menu_and_content.css');
@import url('_content.css');
@import url('_footer.css');
@import url('_login.css');
@import url('_singin.css');
@import url('_email_varify.css');
@font-face {
    font-family: roboto;
    src: 
    url('../fonts/Roboto-Medium.ttf') format('ttf'),
    url('../fonts/roboto-v49-latin-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: nazanin;
    src: url('../fonts/BNAZANB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
:root{
    --text-color:#0D1164;
    --background-color:#33A1E0;
    --background-color-a:#93d7ff;
}
*{
    font-family: roboto;
    box-sizing: border-box!important;
    transition: all 0.3s ease-in;
}
::-webkit-scrollbar{
    width: 8px;
    background: linear-gradient(180deg, #02121b, #165580);
}
::-webkit-scrollbar-button{
  background: #00c6ff;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb{
  background: #00c6ff;
  border-radius: 5px;
}
.a_color{
    color: var(--background-color)!important;
}

.mt-100{
    margin-top: 100px;
}
.pb-100{
    padding-bottom: 100px;
}
.pt-100{
    padding-top: 100px;
}
a{
    text-decoration: none;
}
.web-bg{
    background-color: #e0eaff;
}
.footer-bg{
    background-color: #0D1164;
}

/* Entring from bottom */
.box-fadeup {
  border-radius: 18px;
  opacity: 0;
  transform: translateY(100px) scale(0.85);
  filter: blur(12px);
  display: inline-block;
  transition:
    opacity 0.8s ease,
    transform 1500ms cubic-bezier(.22,1,.36,1),
    filter 0.8s ease;
}
.box-fadeup.show {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}
/* Entring form right */
.box-fade-right {
  border-radius: 18px;
  opacity: 0;
  transform: translateX(100px) scale(0.85);
  filter: blur(12px);
  display: inline-block;
  transition:
    opacity 0.8s ease,
    transform 1500ms cubic-bezier(.22,1,.36,1),
    filter 0.8s ease;
}
.box-fade-right.show {
  opacity: 1;
  transform: translateX(0) scale(1);
  filter: blur(0);
}
/* Entrign form top */
.box-fadein {
  border-radius: 18px;
  opacity: 0;
  transform: translateY(-100px) scale(0.85);
  filter: blur(12px);
  display: inline-block;
  transition:
    opacity 0.8s ease,
    transform 1500ms cubic-bezier(.22,1,.36,1),
    filter 0.8s ease;
}
.box-fadein.show {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}
/* Entring from left */
.box-fade-left {
  border-radius: 18px;
  opacity: 0;
  transform: translateX(-100px) scale(0.85);
  filter: blur(12px);
  display: inline-block;
  transition:
    opacity 0.8s ease,
    transform 1500ms cubic-bezier(.22,1,.36,1),
    filter 0.8s ease;
}
.box-fade-left.show {
  opacity: 1;
  transform: translateX(0) scale(1);
  filter: blur(0);
}
.ad1{
  animation-delay: -0.2s;
}
.ad2{
  animation-delay: -0.5s;
}
.ad3{
  animation-delay: -0.8s;
}
.ad4{
  animation-delay: -1s;
}

.ad5{
  animation-delay: -1.3s;
}
.ad6{
  animation-delay: -1.6s;
}