body {
      direction: rtl;
      font-family: "Vazir", sans-serif;
      background: linear-gradient(135deg, #f3f4f6, #e9ecef);
    }

    h2 {
      color: #212529;
      font-weight: bold;
      text-shadow: 0 1px 2px rgba(0,0,0,0.1);
    }

    .card {
      border-radius: 18px;
      box-shadow: 0 6px 18px rgba(0,0,0,0.1);
      transition: all 0.3s ease;
      overflow: hidden;
      border: none;
    }

    .card:hover {
      transform: translateY(-8px);
      box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    }

    .card img {
      width: 100%;
      height: 265px;
      object-fit: cover;
    }

    .card-body {
      padding: 1.5rem;
    }

    .card-title {
      font-size: 1.25rem;
      font-weight: bold;
      color: #212529;
    }

    .price {
      font-weight: bold;
      color: #0d6efd;
      font-size: 1.1rem;
    }

    .btn-select {
      border-radius: 50px;
      transition: all 0.3s;
    }

    .btn-select:hover {
      background-color: #0b5ed7;
      transform: scale(1.05);
    }

    .btn-outline-custom {
  background-color:#33A1E0 !important;  /* شفاف از اول */
  color: #0d1164 !important;                /* رنگ متن اولیه */
 
  width: 100%;
  transition: all 0.3s ease;
}
.btn-outline-custom:hover {
  background-color:#93d7ff !important;    /* رنگ پس‌زمینه هنگام هاور */
  color: #0D1164 !important;               /* رنگ متن هنگام هاور */
}
.btn-outline-custom2{
  background-color: #33A1E0 !important;    /* رنگ پس‌زمینه هنگام هاور */
  color: #0D1164 !important;               /* رنگ متن هنگام هاور */

}
.btn-outline-custom1{
    color: #0D1164;
    
}
.bd{
  border-radius: 30px!important;
}
.btn-custom{
  background-color: #33A1E0;
  color: #0D1164;
  border-radius: 12px;
  margin-top: 4px;
}
.btn-custom:hover{
  background-color: #93d7ff;
}